@import "_shared";

.complex-list-section
  &__section
    margin-bottom 28px

  &__title
    margin-top 10px
    margin-bottom 10px
    font-weight 300
    font-size 14px
    text-transform uppercase
    color $grey-light

  &__list
    margin-top 0
    margin-bottom 0
    padding-left 0
    list-style none
