.complex-list
  width 250px
  padding-right 14px
  padding-left 14px

  &__section
    margin-bottom 28px

  &__title
    margin-top 10px
    margin-bottom 10px
    font-weight 300
    font-size 14px
    text-transform uppercase
    color $grey-light

  &__list
    margin-top 0
    margin-bottom 0
    padding-left 0
    list-style none

  &__list-item
    margin-top 10px
    margin-bottom 10px

  &__link
    text-decoration none

  &__card
    height 50px

.complex-list-card
  display flex

  &__thumb
    flex-shrink 0
    width 50px
    height @width
    overflow hidden
    margin-right 12px

    &--rounded
      border-radius 50%

  &__thumb-img
    max-width 100%

  &__content
    min-width 0
    display flex
    flex-direction column
    justify-content center

  &__title
    font-size 14px
    color #fff
    ellipsis()

  &__subtitle
    font-size 14px
    color $grey-light
    ellipsis()
