.title
  margin-top 10px
  margin-bottom 10px
  font-size 18px
  color #fff

  &--big
    font-size 48px

  &--underlined
    padding-bottom 10px
    border-bottom 1px solid $grey-darkest

  em
    font-style normal
    color $grey-light

.subtitle
  margin-top 6px
  margin-bottom 6px
  font-weight 300
  font-size 14px
  color $grey-light
