perc($px, $base = $base-screen-width)
  ($px / $base) * 100%

rem($px)
  ($px / $base-font-size) * 1rem

em($px, $base = $base-font-size)
  ($px / $base) * 1em

ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

placeholder($color)
  &:-ms-input-placeholder // IE 10+
    color $color

  &::-moz-placeholder // Firefox 19-51
    color $color
    opacity 1

  &::placeholder
    color $color
