extend ./../_template

block pageTitle
  - var pageTitle = 'Complex Lists'
block prepend body
  body
    section#page-complex-lists.page-container.complex-lists-page
      .complex-list
        .complex-list__section
          h3.complex-list__title Top Result

          ul.complex-list__list
            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb.complex-list-card__thumb--rounded
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Muse

        .complex-list__section
          h3.complex-list__title Songs

          ul.complex-list__list
            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__content
                    span.complex-list-card__title Multi-Love
                    span.complex-list-card__subtitle Unknown Mortal Orchestra

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__content
                    span.complex-list-card__title Mudshovel - Explicit Album Version
                    span.complex-list-card__subtitle Staind

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__content
                    span.complex-list-card__title Musicbox
                    span.complex-list-card__subtitle Amy Yeager

        .complex-list__section
          h3.complex-list__title Artists

          ul.complex-list__list
            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb.complex-list-card__thumb--rounded
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Muse

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb.complex-list-card__thumb--rounded
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Mura Masa

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb.complex-list-card__thumb--rounded
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Muddy Waters

        .complex-list__section
          h3.complex-list__title Albums

          ul.complex-list__list
            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Mura Masa
                    span.complex-list-card__subtitle Mura Masa

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Multi-Love
                    span.complex-list-card__subtitle Unknown Mortal Orchestra

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Mutter
                    span.complex-list-card__subtitle Rammstein

        .complex-list__section
          h3.complex-list__title Playlists

          ul.complex-list__list
            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Music For Concentration

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Musicals Hits

            li.complex-list__item
              a.complex-list__link(href="")
                .complex-list__card.complex-list-card
                  .complex-list-card__thumb
                    img.complex-list-card__thumb-img(src="//via.placeholder.com/100x100")

                  .complex-list-card__content
                    span.complex-list-card__title Music for Malling
