@import "_shared";

*
  box-sizing border-box

html
body
  height 100%

body
  min-width 800px
  min-height 626px
  margin 0
  font-weight 400
  font-size $base-font-size
  font-family Circular
  background-color #000

button
input
  outline none

.hidden
  display none !important

.icon
  width 100%
  height 100%
  vertical-align top
  fill #fff
