@import "_shared";

.sidebar-section
  margin-top 20px
  margin-bottom 20px

  & + &
    margin-top 30px

  &__title
    margin-top 2px
    margin-bottom 2px
    padding-left 24px
    font-weight 300
    font-size 12px
    text-transform uppercase
    letter-spacing 1px
    color $grey-light
    cursor default
    user-select none

  &__list
    margin-top 0
    margin-bottom 0
    padding-left 0
    list-style none

  &__list-item
    border-left 4px solid transparent
    color $grey-light

    &--active
      border-left-color $green-light
      color #fff

  &__link
    display block
    padding-right 24px
    padding-left 20px
    font-size 14px
    line-height 32px
    text-decoration none
    color inherit
    ellipsis()

    &:hover
      color #fff

      & ^[0]__hint
        display inline

  &__hint
    display none
