svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-released(viewbox="0 0 1024 1024")
    path(d="M512 801.777v-192h-79.238v-39.619q16.254-0.508 29.714-5.079t24.127-12.19q10.159-7.619 16.762-17.27 6.603-10.159 8.635-21.841h64v288h-64zM832 144h128v832h-896v-832h128v-64q0-13.206 9.397-22.603t22.603-9.397 22.603 9.397 9.397 22.603v64l512-0.508v-63.492q0-13.206 9.397-22.603t22.603-9.397 22.603 9.397 9.397 22.603v64zM895.492 911.492v-511.492h-766.984v511.492h766.984zM895.492 336v-127.492h-766.984v127.492h766.984z")
