svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-more(viewbox="0 0 1024 1024")
    path(d="M192 448q26.413 0 45.206 18.794t18.794 45.206q0 17.27-8.635 32t-23.365 23.365-32 8.635q-26.413 0-45.206-18.794t-18.794-45.206 18.794-45.206 45.206-18.794zM512 448q26.413 0 45.206 18.794t18.794 45.206-18.794 45.206-45.206 18.794-45.206-18.794-18.794-45.206 18.794-45.206 45.206-18.794zM832 448q26.413 0 45.206 18.794t18.794 45.206-18.794 45.206-45.206 18.794-45.206-18.794-18.794-45.206 18.794-45.206 45.206-18.794z")
