svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-time(viewbox="0 0 1024 1024")
    path(d="M512 32q97.524 0 186.413 38.095t153.143 102.349 102.349 153.143 38.095 186.413-38.095 186.413-102.349 153.143-153.143 102.349-186.413 38.095-186.413-38.095-153.143-102.349-102.349-153.143-38.095-186.413 38.095-186.413 102.349-153.143 153.143-102.349 186.413-38.095zM512 928q84.317 0 161.524-33.016t132.825-88.635 88.635-132.825 33.016-161.524-33.016-161.524-88.635-132.825-132.825-88.635-161.524-33.016-161.524 33.016-132.825 88.635-88.635 132.825-33.016 161.524 33.016 161.524 88.635 132.825 132.825 88.635 161.524 33.016zM544 224v256h128v64h-192v-320h64z")
