svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-search(viewbox="0 0 1024 1024")
    path(d="M726.603 687.238l186.413 217.905-48.762 41.651-186.413-217.905q-93.46 66.54-207.746 66.54-73.143 0-139.683-28.444t-114.54-76.444-76.444-114.54-28.444-139.683 28.444-139.683 76.444-114.54 114.54-76.444 139.683-28.444 139.429 28.444 114.54 76.444 76.698 114.54 28.444 139.683q0 48.254-12.698 93.968t-35.302 85.079-54.603 71.873zM470.095 731.428q59.937 0 114.54-23.365t94.222-62.984 62.984-94.222 23.365-114.54q0-48.254-14.984-93.206t-42.413-81.27-63.492-63.492-81.27-42.159-92.952-14.984q-59.937 0-114.54 23.365t-94.222 62.984-62.984 94.222-23.365 114.54 23.365 114.54 62.984 94.222 94.222 62.984 114.54 23.365z")
