svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-volume(viewbox="0 0 1024 1024")
    path(d="M832.762 88.381q87.873 80.762 137.397 190.476t49.524 233.143-49.524 233.143-137.397 190.476l-41.651-48.762q77.206-71.619 120.889-168.635t43.683-206.222-43.683-206.222-120.889-168.635zM687.493 258.54q33.524 32 57.651 71.619t37.333 86.349 13.206 95.492q0 73.651-28.698 139.175t-79.492 114.286l-41.651-48.762q40.127-40.127 62.984-92.952t22.857-111.746-22.603-111.746-63.238-92.952zM4.318 320h179.302l332.698-192v768l-332.698-192h-179.302v-384zM452.318 238.731l-251.429 145.27h-132.571v256h132.571l251.429 145.27v-546.54z")
