svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-chevron-right(viewbox="0 0 1024 1024")
    path(d="M256.254 39.619l553.143 472.381-553.143 472.381-41.651-48.762 496.254-423.619-496.254-423.619z")
