svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-heart-active(viewbox="0 0 1024 1024")
    path(d="M883.302 184.381q76.698 76.698 76.698 185.651t-76.698 185.651l-281.905 332.698q-38.095 38.603-89.397 38.603-24.889 0-46.984-9.905t-36.317-28.698l-288-332.698q-76.698-76.698-76.698-185.651t76.698-185.651q47.746-47.746 110.476-67.556t127.238-7.619 114.286 55.873q6.603 6.603 19.302 6.603 5.587 0 10.413-1.524t6.857-3.048l2.032-2.032q50.286-41.143 114.286-53.333t127.238 6.603 110.476 66.032z")
