svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-x(viewbox="0 0 1024 1024")
    path(d="M918.857 150.349l-361.651 361.651 361.651 361.143-45.714 45.714-361.143-361.651-361.651 361.651-45.206-45.714 361.651-361.143-361.651-361.651 45.206-45.206 361.651 361.651 361.143-361.651z")
