@import "shared/_colors";
@import "shared/_icons";
@import "shared/_mixins";
@import "shared/_sizes";

@import "global/_fonts";
@import "global/_general";

@import "components/_buttons";
@import "components/_complex-lists";
@import "components/_loader";
@import "components/_menus";

@import "pages/index";
