@import "_shared";

$height = 36px
$outer-side-padding = 12px
$inner-side-padding = 12px
$icon-size = 16px

.filter
  position relative
  display flex
  justify-content space-between
  align-items center
  flex-grow 1
  height $height
  padding-right 2px
  padding-left $outer-side-padding

  &__icon
    position relative
    z-index 1
    width $icon-size
    height $icon-size

    &:hover
      & + ^[0]__input
        background-color $grey

      .icon
        fill $grey-light

  &__input
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    width 100%
    padding-right $outer-side-padding + $icon-size + $inner-side-padding
    padding-left $outer-side-padding + $icon-size + $inner-side-padding
    border none
    border-radius 2px
    line-height $height
    color #fff
    background-color transparent
    transition background-color .2s ease

    placeholder($grey-light)

    &:focus
      background-color $grey

    &:hover
      placeholder(#fff)

      ~ .filter__icon
        .icon
          fill #fff

  &__button
    position relative
    z-index 1
    padding 10px
    border none
    background-color transparent
    cursor pointer
