@import "_shared";

.item
  &--horizontal
    display flex
    width 100%

    .item__link
      display flex
      text-decoration none

      &:hover
        background-color rgba(#fff, .2)

        + .item__link
          background-color @background-color

      + .item__link
        flex-grow 1
