@import "_shared";

.item
  &__link
    //

  &__thumb
    position relative
    flex-shrink 0
    overflow hidden
    margin-bottom 7px
    cursor pointer

    &--rounded
      border-radius 50%

    &--horizontal
      margin-bottom 0

    &--fixed
      width 96px
      height @width

    &--fixed-small
      width 64px
      height @width

    &--fixed-x-small
      width 44px
      height @width

    &:hover
      & ^[0]__overlay
        display flex

  &__thumb-img
    max-width 100%
    vertical-align top

  &__overlay
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    display none
    flex-direction column
    justify-content center
    align-items center
    background-color rgba(#000, .3)

  &__icon
    width 66px
    height @width
    margin-top 20px
    margin-bottom 20px

  &__description
    min-width 0
    display flex
    flex-direction column
    justify-content center
    align-items flex-start

    &--centered
      align-items center

  &__title
    margin-top 3px
    margin-bottom 3px
    border-bottom 1px solid transparent
    font-size 14px
    color #fff
    text-decoration none
    ellipsis()

    &:hover
      border-bottom-color #fff

    &--big
      font-size 16px

  &__text
    margin-top 3px
    margin-bottom 3px
    font-weight 300
    font-size 14px
    color $grey-light

  &__additional
    margin-top 3px
    margin-bottom 3px
    font-weight 300
    font-size 11px
    color $grey-light
    letter-spacing 2px
    text-transform uppercase

.item
  &--horizontal
    display flex
    width 100%

    .item__link
      display flex
      text-decoration none

      &:hover
        background-color rgba(#fff, .2)

        + .item__link
          background-color @background-color

      + .item__link
        flex-grow 1

    .item__thumb
      position relative

    .item__description
      margin-left 16px

    .item__title
      margin-top 0
      border-bottom none

    .item__text
      margin-top 0
      margin-bottom 0

    .item__additional
      margin-bottom 0
