extend ./../_template

block pageTitle
  - var pageTitle = 'Grids'
block prepend body
  body
    section#page-grids.page-container.grids-page(style="overflow:hidden")
      .grid.grid--x6(style="margin-bottom:20px")
        .grid__item(style="height:50px;background:#ccc") 1
        .grid__item(style="height:50px;background:#ccc") 2
        .grid__item(style="height:50px;background:#ccc") 3
        .grid__item(style="height:50px;background:#ccc") 4
        .grid__item(style="height:50px;background:#ccc") 5
        .grid__item(style="height:50px;background:#ccc") 6
        .grid__item(style="height:50px;background:#ccc") 7
        .grid__item(style="height:50px;background:#ccc") 8
        .grid__item(style="height:50px;background:#ccc") 9
        .grid__item(style="height:50px;background:#ccc") 10
        .grid__item(style="height:50px;background:#ccc") 11
        .grid__item(style="height:50px;background:#ccc") 12

      .grid.grid--x4(style="margin-bottom:20px")
        .grid__item(style="height:50px;background:#ccc") 1
        .grid__item(style="height:50px;background:#ccc") 2
        .grid__item(style="height:50px;background:#ccc") 3
        .grid__item(style="height:50px;background:#ccc") 4
        .grid__item(style="height:50px;background:#ccc") 5
        .grid__item(style="height:50px;background:#ccc") 6
        .grid__item(style="height:50px;background:#ccc") 7
        .grid__item(style="height:50px;background:#ccc") 8
        .grid__item(style="height:50px;background:#ccc") 9
        .grid__item(style="height:50px;background:#ccc") 10
        .grid__item(style="height:50px;background:#ccc") 11
        .grid__item(style="height:50px;background:#ccc") 12

      .grid.grid--x3(style="margin-bottom:20px")
        .grid__item(style="height:50px;background:#ccc") 1
        .grid__item(style="height:50px;background:#ccc") 2
        .grid__item(style="height:50px;background:#ccc") 3
        .grid__item(style="height:50px;background:#ccc") 4
        .grid__item(style="height:50px;background:#ccc") 5
        .grid__item(style="height:50px;background:#ccc") 6
        .grid__item(style="height:50px;background:#ccc") 7
        .grid__item(style="height:50px;background:#ccc") 8
        .grid__item(style="height:50px;background:#ccc") 9
        .grid__item(style="height:50px;background:#ccc") 10
        .grid__item(style="height:50px;background:#ccc") 11
        .grid__item(style="height:50px;background:#ccc") 12

      .grid.grid--x2(style="margin-bottom:20px")
        .grid__item(style="height:50px;background:#ccc") 1
        .grid__item(style="height:50px;background:#ccc") 2
        .grid__item(style="height:50px;background:#ccc") 3
        .grid__item(style="height:50px;background:#ccc") 4
        .grid__item(style="height:50px;background:#ccc") 5
        .grid__item(style="height:50px;background:#ccc") 6
        .grid__item(style="height:50px;background:#ccc") 7
        .grid__item(style="height:50px;background:#ccc") 8
        .grid__item(style="height:50px;background:#ccc") 9
        .grid__item(style="height:50px;background:#ccc") 10
        .grid__item(style="height:50px;background:#ccc") 11
        .grid__item(style="height:50px;background:#ccc") 12
