extend _template

block pageTitle
  - var pageTitle = 'Index'
block prepend body
  body
    include icons/_icon-template
    include icons/_icon-more


    section#page-index.page-container.index-page
      //+icon('icon-hyphen')