svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-chevron-down(viewbox="0 0 1024 1024")
    path(d="M512 809.397l-472.381-553.143 48.762-41.651 423.619 496.254 423.619-496.254 48.762 41.651z")
