svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-check(viewbox="0 0 1024 1024")
    path(d="M911.746 130.794l48.762 41.651-615.619 720.762-281.397-329.651 42.159-49.27 239.238 280.381z")
