svg(xmlns="http://www.w3.org/2000/svg", width="0", height="0", display="none")
  symbol#icon-chevron-up(viewbox="0 0 1024 1024")
    path(d="M935.619 809.397l-423.619-496.254-423.619 496.254-48.762-41.651 472.381-553.143 472.381 553.143z")
