@import "_shared";

$position-side = 5px

.explicit-badge
  padding-right 6px
  padding-left 6px
  border 1px solid $grey
  border-radius 2px
  font-weight 400
  font-size 10px
  line-height 1.6
  text-transform uppercase
  color $grey

// ===================================== //
// Row states
// ===================================== //
.now-playing
  .table
    &__cell
      color $green

      &--play:hover
        .table__button--play-indicator
          display none

        .table__button--toggle
          display flex

        .icon-pause
          display inline

      &--like
        opacity 1

    &__cell-content--linked
      &:hover
        border-bottom-color $green

    &__button
      &--play-indicator
        display flex

      &--toggle
        display none

  .icon-play
  .icon-pause
    display none

.liked
  .table__button
    &--dislike
      display flex

    &--remove
    &--like
      display none

.added
  .icon-plus
    display none

  .icon-check
    display flex

  .table__button:hover
    .icon-check
      display none

    .icon-x
      display flex

// ===================================== //
// Cell states
// ===================================== //
.position
  position relative
  overflow visible

  &--none
  &--up
  &--down
  &--new
    &:after
      content ''
      position absolute
      left 0
      transform translate(-50%, -50%)
      pointer-events none

  &--none
    &:after
      content '—'

  &--up
  &--down
    &:after
      width 0
      height 0
      border solid transparent
      border-width $position-side

  &--up
    &:after
      top -($position-side / 2)
      border-bottom-color $green-light

  &--down
    &:after
      top ($position-side / 2)
      border-top-color $red

  &--new
    &:after
      top 0
      width ($position-side * 2)
      height @width
      border-radius 50%
      background-color $blue
